#----------------------------------------------------------------------------
#      ____                _  __         __  ____              
#     / __ \___  ___ ___  / |/ /__ ___  / /_/ / /__ _____  ___ 
#    / /_/ / _ \/ -_) _ \/    / -_) _ \/ __/_  _/ // / _ \/ -_)
#    \____/ .__/\__/_//_/_/|_/\__/ .__/\__/ /_/ \_,_/_//_/\__/ 
#        /_/                    /_/                            
#----------------------------------------------------------------------------
;   Neptune 4 Series Custom Image by (OpenNeptune3D/OpenNept4une):
#----------------------------------------------------------------------------
; Wiki    : https://github.com/OpenNeptune3D/OpenNept4une/wiki
; Discord : https://discord.com/invite/X6kwchT6WM

#############################################################################
#   External Config Includes
#############################################################################
[include fluidd.cfg]

[include KAMP_Settings.cfg]

[include ./KAMP/Smart_Park.cfg]

[include ./KAMP/Line_Purge.cfg]

[include Macros.cfg]     ; Users custom macros 

#############################################################################
#   Base Config
#############################################################################
[mcu]
serial: /dev/ttyS0 ; The hardware use USART1 PA10/PA9 connect to RK3328
baud: 250000
restart_method: command

[printer]
kinematics:cartesian
max_velocity: 250
max_accel: 3000
max_z_velocity: 8
max_z_accel: 120
square_corner_velocity: 5.0
minimum_cruise_ratio: 0.0

[respond]
[gcode_arcs]
[pause_resume]
[display_status]
[exclude_object]
[firmware_retraction]
[virtual_sdcard]
path: ~/printer_data/gcodes
[force_move]
enable_force_move : True
[idle_timeout]
timeout: 2100                  ; 35min idle timeout (when not paused or printing)

#############################################################################
#   Filament Sensor
#############################################################################
[filament_switch_sensor filament_sensor]
pause_on_runout: True
insert_gcode:
    M117 Insert Detected
runout_gcode:
    M117 Runout Detected
    UNLOAD_FILAMENT
event_delay: 3.0
pause_delay: 1.0
switch_pin: ^PA12

#############################################################################
#   X/Y/Z Stepper Config
#############################################################################
[stepper_x]
step_pin: PC14
dir_pin: PC13
enable_pin: !PC15
microsteps: 16
rotation_distance: 40
full_steps_per_rotation:200                  ; set to 400 for 0.9 degree stepper
endstop_pin: PC0
position_min: -6.5
position_endstop: -6.5
position_max: 235
homing_speed: 100
homing_retract_dist: 5
homing_positive_dir: false

[stepper_y]
step_pin: PB4
dir_pin: PB3
enable_pin: !PB5
microsteps: 16
rotation_distance: 40
full_steps_per_rotation:200                  ; set to 400 for 0.9 degree stepper
endstop_pin: PB8
position_min: -2
position_endstop: -2
position_max: 235
homing_speed: 100
homing_retract_dist: 5
homing_positive_dir:false

[stepper_z]
step_pin: PC10
dir_pin: !PA15
enable_pin: !PC11
microsteps: 32
rotation_distance: 8
full_steps_per_rotation: 200
endstop_pin:probe:z_virtual_endstop
position_max: 268
position_min: -5
homing_speed: 12
second_homing_speed: 5
homing_retract_dist: 5

#############################################################################
#   TMC Stepper-driver UART Config
#############################################################################
[tmc2209 stepper_x]
uart_pin: PB9
run_current: 1.2
interpolate: True
stealthchop_threshold: 999999

[tmc2209 stepper_y]
uart_pin: PD2
run_current: 1.2
interpolate: True
stealthchop_threshold: 999999

[tmc2209 stepper_z]
uart_pin: PC5
run_current: 0.8
interpolate: false

[tmc2209 extruder]
uart_pin: PC4
run_current: 0.9
interpolate: false

#############################################################################
#   Extruder Config
#############################################################################
[extruder]
step_pin:PA5
dir_pin:!PA6
enable_pin:!PA4
microsteps: 32
rotation_distance: 28.888                     ; 31.4 Bondtech 5mm Drive Gears
gear_ratio: 52:10
full_steps_per_rotation: 200                  ; 200 for 1.8 degree, 400 for 0.9 degree
nozzle_diameter: 0.400
filament_diameter: 1.750
min_temp: 0
max_temp: 330
heater_pin: PA7
sensor_type:NTC 100K MGB18-104F39050L32
sensor_pin: PA1
max_power: 1
#control = pid
#pid_kp : 26.213
#pid_ki : 1.304
#pid_kd : 131.721
pressure_advance: 0
pressure_advance_smooth_time: 0.02
max_extrude_cross_section: 5                  ; standard klipper default 4* (NozzleDiam^2)
instantaneous_corner_velocity: 5.0
max_extrude_only_distance: 100
max_extrude_only_velocity:45
max_extrude_only_accel:2000
step_pulse_duration:0.000002

[verify_heater extruder]
max_error: 120
check_gain_time: 30
hysteresis: 10
heating_gain: 2

#############################################################################
#   Bed Heater Config
#############################################################################
[heater_bed]
heater_pin:PB10
sensor_type: NTC 100K MGB18-104F39050L32
sensor_pin: PA0
max_power: 1.0
#control = pid
#pid_kp = 75.397
#pid_ki = 0.823
#pid_kd = 1727.531
min_temp: 0
max_temp: 120 

[verify_heater heater_bed]
max_error: 120
check_gain_time: 120
hysteresis: 10
heating_gain: 1

#####################################################################
#   Outer Bed Heater Config
#####################################################################
[heater_generic heater_bed_outer]
heater_pin:PC8
max_power:1.0
sensor_type: NTC 100K MGB18-104F39050L32
sensor_pin:PC2
#control = pid
#pid_Kp  = 70.591 
#pid_Ki  = 1.055 
#pid_Kd  = 1180.632
min_temp:0
max_temp:120
pwm_cycle_time: 0.3

[verify_heater heater_bed_outer]    ; heating bed temperature tolerance configuration
max_error: 600                      ; maximum error
check_gain_time:120                 ; tolerance time
hysteresis: 10                      ; tolerance temperature
heating_gain: 1                     ; heating gain

#############################################################################
#   Probe Config
#############################################################################

[probe]
pin:^PA11
x_offset: -24.25
y_offset: 20.45
# z_offset = 0.50
speed: 10.0
samples: 3
samples_result: median 
sample_retract_dist: 3.0
samples_tolerance: 0.025
samples_tolerance_retries: 3

[bed_mesh]
speed:150                
horizontal_move_z:5  
mesh_min: 10,21
mesh_max: 210,211
probe_count:11,11          
algorithm:bicubic
bicubic_tension:0.2
mesh_pps: 4, 4 
fade_start: 1.0
fade_end: 10.0 

#############################################################################
#   LED Config
#############################################################################

[output_pin Frame_Light]
pin: PB7

[output_pin Part_Light]
pin: PC7

[gcode_macro Frame_Light_ON]
gcode:
  SET_PIN PIN=Frame_Light VALUE=1

[gcode_macro Frame_Light_OFF]
gcode:
  SET_PIN PIN=Frame_Light VALUE=0

[gcode_macro Part_Light_ON]
gcode:
  SET_PIN PIN=Part_Light VALUE=1

[gcode_macro Part_Light_OFF]
gcode:
  SET_PIN PIN=Part_Light VALUE=0

#############################################################################
#   Beeper Config
#############################################################################

[pwm_cycle_time beeper]
pin: PA2
value: 0
shutdown_value: 0
cycle_time: 0.0005                                  ; Default PWM frequency: 2 kHz

#############################################################################
#   Fan & Temp Monitoring Config
#############################################################################
[fan]
pin: PC9

[controller_fan heatbreak+mainboard_fan]
pin: PA8
fan_speed: 0.50
idle_speed: 0.30
idle_timeout: 43200                                    ; 50% speed for 12h then OFF
shutdown_speed: 1
heater: extruder, heater_bed, heater_bed_outer
stepper: stepper_x, stepper_y, stepper_z, extruder

[delayed_gcode start_fan_at_idle_speed]
initial_duration: 5.                                ; 5s wait after boot
gcode:
  # Gcode Hack to trigger the mainboard fan from printer boot
  SET_HEATER_TEMPERATURE HEATER=heater_bed TARGET=1 ; bed heat to 1degC
  G4 P2000                                          ; wait 2s
  SET_HEATER_TEMPERATURE HEATER=heater_bed TARGET=0 ; bed heat off

[temperature_sensor RockchipHost]
sensor_type: temperature_host
min_temp: 10
max_temp: 80

[temperature_sensor STM32MCU]
sensor_type: temperature_mcu
min_temp: 10
max_temp: 85

#############################################################################
#   Homing & Levelling Config/Macros
#############################################################################

[safe_z_home]
home_xy_position: 141.75,97.05
speed: 100
z_hop: 10                 
z_hop_speed: 5

[screws_tilt_adjust]
screw1: 56.75, 182.05  
screw1_name: rear left screw
screw2: 56.75, 12.05  
screw2_name: front left screw
screw3: 226.75, 12.05  
screw3_name: front right screw
screw4: 226.75, 182.05  
screw4_name: rear right screw
horizontal_move_z: 5
speed: 150
screw_thread: CW-M4

#############################################################################
#   SPI Accelerometer Config
#############################################################################    
      
[mcu rpi] 
serial: /tmp/klipper_host_mcu

[adxl345]
cs_pin: rpi:None
spi_bus: spidev0.2

[resonance_tester]
accel_chip: adxl345
probe_points:
    100, 100, 20

#############################################################################
#   Input Shaper Config
#############################################################################
[input_shaper]
shaper_freq_x: 62.2   
shaper_freq_y: 43.2 
shaper_type_x: 2hump_ei
shaper_type_y: mzv

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [probe]
#*# z_offset = 0.140
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	0.060625, 0.052500, 0.045000, 0.024375, 0.007500
#*# 	0.068750, 0.066875, 0.053125, 0.021875, -0.008125
#*# 	0.085000, 0.106875, 0.087500, 0.040000, 0.014375
#*# 	0.094375, 0.113125, 0.109375, 0.074375, 0.013750
#*# x_count = 5
#*# y_count = 4
#*# mesh_x_pps = 4
#*# mesh_y_pps = 4
#*# algo = lagrange
#*# tension = 0.2
#*# min_x = 92.16
#*# max_x = 162.16
#*# min_y = 97.14
#*# max_y = 138.10999999999999
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 27.396
#*# pid_ki = 2.174
#*# pid_kd = 86.297
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 69.875
#*# pid_ki = 2.080
#*# pid_kd = 586.952
#*#
#*# [heater_generic heater_bed_outer]
#*# control = pid
#*# pid_kp = 74.285
#*# pid_ki = 0.929
#*# pid_kd = 1484.762
